<br/>
<br />

<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-primary btn-block" onclick="window.location.href = '../Usuario/Login'">Entrar no sistema</button>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary btn-block btn-success" onclick="window.location.href = '../Usuario/Registrar'">Registrar no sistema</button>
    </div>
</div>
