
<h3>Minhas contas</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>SALDO</th>
        </tr>
    </thead>
    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                    <tr>
                        <td><button class="btn btn-danger">Excluir</button></td>
                        <td>@item.Id.ToString()</td>
                        <td>@item.Nome.ToString()</td>
                        <td>@item.Saldo.ToString()</td>
                    </tr>
            </tbody>
        }
    }
</table>